venv/
activate/
.venv/
task4/files/
task4/jn_t/
task4/practice-2/
task1/.env
task1/logs/
task1/jsons/code_test.py
*.pyc
__pycache__/
task4/3_Spark_Basics/.ipynb_checkpoints/
.ipynb_checkpoints
task5/README.md
task5/.env
task5/task5_script.py
task5/postgresql-42.7.3.jar
task5/check.ipynb
task6/
task7/process_full_check_dag.py
task7/diff_dag.py
task7/data/db
task7/temp
task7/logs
task7/plugins
task7/postgres_data
task7/tesd.py
task8/
task9/
task10/
task11/
task12/
pagina/